<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="target-densitydpi=device-dpi, user-scalable=0, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width" />
	<meta name="theme-color" content="#fff">

    <link href="./css/active_change_motion.css" rel="stylesheet" />
    <link href="./css/inner_site_style.css" rel="stylesheet" />
    
    <script src="./js/makeBuilder.0.0.1.js"></script>
    
</head>

<body id="bodyWrap">

    <!--
    <div id="popupGo" class="send_color">무료상담<span>신청하기</span></div>  

    <header id="hearder_style_001">
        <section id="wrap">
            <section id="fixed">
                <article id="logoArea">메인 타이틀</article>    
                <article id="menuArea">
                    <span id="#page01">메뉴01 영역</span>
                    <span id="#page02">메뉴02 영역</span>
                    <span id="#page03">메뉴03 영역</span>
                    <span id="#page04">메뉴04 지금 신청하세요!</span>
                </article>
            </section>
        </section>
    </header>

    <section id="background_fullsize_image_style_001">
        <article>
            <h2 class="trans1-up">상단 영역</h2>
            <h1 class="trans2-up">메인 메시지 영역</h1>
            <h3 class="trans3-up">하단 영역 / 하단 영역</h3>
        </article>
    </section>

    <section id="page01" class="title_massage_style_001">
        <article>
            <section id="titleArea">
                <u class="trans1-right">Info</u>
                <span class="trans2-right"><p>메뉴01 영역</p><p>영역</p></span>
            </section>

            <section class="trans1-left" id="msgArea">
                메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지
                <br>
                메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지
                <br>
                메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지
                메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 
            </section>
        </article>
    </section>

    <section id="page02" class="title_massage_style_001" style="background-color:#e3e3e3;">
        <article>
            <section id="titleArea">
                <u class="trans1-right">Prospect</u>
                <span class="trans2-right">메뉴02 영역</span>
            </section>

            <section id="msgArea" class="bock_xy trans1-left">
                <div class="box">
                    <h1>01</h1>
                    <span>메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지</span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
                <div class="box">
                    <h1>02</h1>
                    <span>메시지 메시지 메시지</span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
                <div class="box">
                    <h1>03</h1>
                    <span>메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지 메시지</span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
            </section>
        </article>
    </section>

    <section id="page03" class="title_massage_style_001" style="background-color:#89bde7;">
        <article>
            <section id="titleArea">
                <u class="trans1-right">Free support</u>
                <span class="trans2-right">메뉴03 지원사항</span>
            </section>

            <section id="msgArea" class="bock_horizontal trans1-left">
                <div class="box">
                    <h1>01</h1>
                    <span>메시지 메시지 메시지</span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
                <div class="box">
                    <h1>02</h1>
                    <span>메시지 메시지 메시지</span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
                <div class="box">
                    <h1>03</h1>
                    <span>메시지 메시지 메시지 메시지 메시지 </span>
                    <div id="iconBtn"><img src="https://img.icons8.com/dotty/70/feedback.png"></div>
                </div>
            </section>
        </article>
    </section>

    <section id="page04" class="title_massage_style_001" style="background-color: #d9d9d9;" >
        <article>
            <section id="titleArea">
                <u class="trans1-right">Free counseling</u>
                <span class="trans2-right"><p>메뉴04</p><p>지금 신청하세요!</p></span>
            </section>

            <section id="msgArea" class="bock_form trans1-left">
                <div class="box inputArea">
                    <label for="target_A"><span>이름</span></label>
                    <input type="text" id="target_A">
                </div>
                <div class="box inputArea">
                    <label for="target_B"><span>연락처</span></label>
                    <input type="text" id="target_B">
                </div>

                <div class="box buttonArea split_3">
                    인증번호 요청
                </div>

                <div class="box inputArea split_7">
                    <label for="target_C"><span>인증번호</span></label>
                    <input type="text" id="target_C">
                </div>
               
                <div class="box inputArea">
                    <label for="target_D"><span>문의내용</span></label>
                    <textarea type="text" id="target_D"></textarea>
                </div>

                <div class="box split_3 send_color">
                    <label class="checkboxArea" for="target_Z"><input type="checkbox" id="target_Z"> 개인정보취급방침 동의</label>
                </div>

                <div class="box split_7 alink">
                    <a href="">개인정보취급방침</a>
                </div>                

                <button id="submitBtn" class="send_color" type="button">무료상담 신청</button>
            </section>
        </article>
    </section>

    <footer>

        <article class="splitArea">

            <div class="split_5">
                <p><b>[개인정보 수집 및 이용안내]</b></p>
                <p>개인정보 수집주체: ㈜tmp</p>
                <p>개인정보 수집항목: 이름, 연락처, 인증번호, 나이, 문의내용 등</p>
                <p>개인정보 수집, 이용목적: 상담안내 및 서비스 안내 (전화, 문자)</p>
                <p>개인정보 보유,이용기간: 수집일로부터 3년 (고객동의 철회 시 지체없이 파기)</p>
            </div>

            <div class="split_5">
                <p><b>[개인정보의 취급 위탁]</b></p>
                <p>당사는 서비스 이행 및 향상을 위해 개인정보 취급업무를 전문업체에 위탁하여 운영하고 있습니다. 또한 개인정보를 안전하게 처리하기 위하여 필요한 사항등을 명확히 규정하고 있으며, 당해 계약 내용을 서면 또는 전자적으로 보관하고 있습니다.</p>
                <p>위탁업체 및 위탁업무 내용</p>
                <p>㈜tmp : 고객 DB, 개인정보 수집, 보관 / 휴대폰 문자발송/ 민원처리</p>                
            </div>

        </article>

        <article class="companyArea">

            <div id="address">
                <p>㈜tmp | 사업자등록번호 : 000-00-0000 | 주소 : 0000 00000</p>
                <p>Copyright © ㈜tmp. All right reserved.</p>
            </div>

            <button id="bottonButton" type="button" style="display:none;">버튼영역</button>         

        </article>

    </footer>
    -->
<script>
window.onload= function(){

    /**
     * @set makeBuilder
     */
	var tmpMKBuilder = new makeBuilder({
		version : '1.0.0.1'   ,
        target  : '#bodyWrap' ,
        edit    : true
	});


    /**
     * @set init active
    */
    setTimeout(function() {
        document.getElementById("background_fullsize_image_style_001").classList.add("active")
    }, 100);

    /**
     * @set popup position
    #popupGo
    */
    var popupGo = document.getElementById("popupGo")
    if( document.body.clientHeight && popupGo.clientHeight )
    popupGo.style.top = document.body.clientHeight / 2 - popupGo.clientHeight / 2 + "px"


   /**
    *@set top menu position
   #hearder_style_001
   */
   var tabMenu = document.getElementById("hearder_style_001")

   /**
    *@set tabmenu height
   */
   tabMenu.style.height = tabMenu.querySelector("#wrap").clientHeight + "px"

    /**
    *@set listen click
    */
   window.addEventListener( "click", (event) => {
        
        /**
         *@set scroll page 
         */
        if(event.target.closest("#menuArea") && event.target.id){
            window.scrollTo({top: document.querySelector(event.target.id).offsetTop - document.getElementById("hearder_style_001").clientHeight, behavior: 'smooth'});
        }        

    },{ passive: true }
    );

   /**
    *@set listen keyup
    */
   window.addEventListener( "keyup", (event) => { 

        if(event.target.closest(".inputArea")){
            if(event.target.value.trim()) event.target.closest(".inputArea").classList.add("writen")
            else                          event.target.closest(".inputArea").classList.remove("writen")
        }

        },{ passive: true }
   );

   /**
    *@set listen scroll
    */    
    window.addEventListener( "scroll", () => {
        
        /**
         *@set active_change_motion
         */ 
        let position = document.body.scrollTop + document.body.clientHeight
        let opset    = document.body.clientHeight / 5      
        document.querySelectorAll("body > section").forEach((currentElement, index, array) => {
            if(currentElement.classList.contains("active") == false && currentElement.offsetTop < position - opset ){              
                currentElement.classList.add("active")
            }
        });

        },{ passive: true }
    );

   /**
    *@set listen wheel
    */  
    let scrollWrap_diff = 0;
    let scrollWrap_ticking = false;
    window.addEventListener('wheel', function(event) {

        if( event.target && event.target.closest('#menuArea') ){

            scrollWrap_diff = event.deltaY;

            if ( !scrollWrap_ticking ) {
                window.requestAnimationFrame(function() {
                    event.target.closest('#menuArea').scrollLeft += scrollWrap_diff;
                    scrollWrap_ticking = false;
                });
            }

            scrollWrap_ticking	= true;

            event.preventDefault();
            event.stopPropagation();	
        }

    }, { passive: false });

}



</script>

    
</body>
</html>